* {
    box-sizing: border-box;
}
html {
    background-color: #e9ebee;
    font-family: "tahoma"
}

/*h1 {
    font-weight: lighter;
}
.login {
    background-color: white;
    color: #333333;
    margin: 50px auto;
    padding: 30px 20px;
    max-width: 23em;;
}
.login__button {
    background-color: #DD453B;
    margin: 11px auto;;
}
.login__field {
    margin: 0 0 12px 0;
    padding: 13px 32px;
    width: 98%;
    outline: none;
    border: 0;
    border-bottom: 0.5px solid;
    font-size: x-large;
}
.login__button-facebook {
    background-color: #3B5998;
}
.text-center {
    text-align: center;
}

button {
    color: white;
    padding: 10px 17px;
    width: 197px;
    margin: 20px auto;
    border: 0px;
    display: block;
    transition: all 0.3s ease-in-out 0.2s;
}

button:focus {
  outline: 0px none;
}

button:hover {
  background-color:white;
  color:black;

}*/
