<!doctype html>

<html lang="vi">
  <head>
    <title>CV của tôi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="homepage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 left-sidebar">

        <ul class="nav nav-pills nav-stacked">
          <h2>TÔN HỒNG ĐỨC</h2>
          <h4>Birthday</h4>
          <h4>Email</h4>
          <h4>Mobile</h4>
          <h4>Married status</h4>
        </ul>
      </div>
       <div class="col-sm-9">
        <div class="page-header">Thông tin cá nhân</div>
        <div class="row">
          <p class="col-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis ex turpis. Sed iaculis ipsum commodo ultricies tincidunt. Donec vitae ex lectus. Duis sit amet laoreet risus, ac mattis neque. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel nulla in sem cursus condimentum. Nullam urna justo, pretium at iaculis ut, egestas dignissim dui. Nullam et sem purus. Vestibulum a velit id libero vulputate tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin non volutpat ex. Sed pharetra eget sapien in pharetra. Cras aliquet, tortor a vehicula vehicula, libero sem vestibulum velit, in auctor lacus magna eu ante. Duis condimentum purus vitae ex porta, at aliquet sem vulputate.</p>

          <p class="col-sm-3">Pellentesque sodales nibh ac lorem vestibulum, sed aliquet sem aliquet. Suspendisse in odio at sem pulvinar malesuada. Duis vel neque ipsum. Quisque nisl massa, accumsan id luctus in, semper ut sapien. Nam semper mi quis ex imperdiet, et hendrerit velit ultricies. Curabitur eu elit eu nibh finibus euismod. Vestibulum risus justo, feugiat ut congue ac, aliquam sit amet nisl. Duis tempor nibh sed luctus vulputate. Vestibulum risus sapien, rhoncus ut sem non, tincidunt interdum enim. Duis imperdiet dolor quis diam tincidunt dignissim. Nulla sodales tortor risus, quis eleifend mauris molestie sit amet. Morbi non tellus quis urna maximus viverra. Nullam sollicitudin mattis ullamcorper.</p>

          <p class="col-sm-3">Curabitur id dui euismod, euismod est sit amet, lacinia justo. Fusce ut arcu vulputate, viverra sem ornare, vehicula eros. Proin mattis posuere fringilla. Suspendisse velit nisl, pharetra nec nisi nec, congue malesuada lorem. Phasellus dignissim dui eget sapien finibus pulvinar. Nulla facilisi. Sed eget massa vel magna congue porttitor. Nam ac diam ornare, tristique metus sit amet, ornare dolor.</p>
          Mauris nec gravida turpis, id laoreet nisl. Mauris at elementum arcu, non rhoncus risus. In hac habitasse platea dictumst. Maecenas bibendum metus vel porta ultricies. Quisque vitae euismod felis. Praesent semper sagittis massa at cursus. Integer quis accumsan nibh.</p>

          <p class="col-sm-3">Pellentesque sagittis nibh neque, pretium lobortis velit pharetra vel. Mauris suscipit nisi ut sem dapibus feugiat. Morbi vel lacinia odio, vitae mollis felis. Nullam pretium eleifend justo, at viverra elit dignissim nec. Aenean commodo vel nibh quis ornare. Vestibulum in dolor lectus. Praesent ullamcorper velit orci, eu rhoncus velit consequat eu. Proin rutrum mauris congue mauris consequat, in pulvinar sem dictum. Vestibulum est elit, sollicitudin ac interdum quis, ullamcorper id ipsum. Nunc pretium pretium cursus. Maecenas vestibulum non purus sed consectetur. Proin tempor tempus accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
      </div>
    </div>
    </div>
  </div>

  </body>
</html>
