<!doctype html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="text-center">
        <h1 class="text-center">Đăng Nhập / Đăng Ký</h1>
        <div class="login">
            <form action="" method="post">
                <div>
                    <input class="login__field" type="text" placeholder="Tên Đăng Nhập">
                </div>
                <div>
                    <input class="login__field" type="password" placeholder="Mật Khẩu">
                </div>
                <div>
                    <button class="login__button btn-primary">Đăng nhập / Đăng ký</button>
                </div>
                <hr>
                <div>
                    <button class="login__button-facebook">Đăng Nhập Bằng Facebook</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>
